body {
  color: #333e4f;
  background: #d6f9ff;
}

.container {
  max-width: 60vw;
  margin: 0 auto;
}

.header {
  text-align: center;
}

section {
  text-align: center;
}

form {
  font-size: 6vw;
  margin-top: 7vh;
  cursor: pointer;
}

label {
  font-family: 'Shrikhand', cursive;
  margin-top: 3vw;
}

input:focus {
  background-color: #f0c062;
}

input[type="text"] {
  font-size: 7vw;
  border-radius: 1.5vw;
  padding: 3vw;
  padding-right: 0;
  font-family: 'Caveat', cursive;
  display: block;
  width: 100%;
  margin-bottom: 3vw;
}

input[type="submit"] {
  font-size: 7vw;
  background-color: #404e62;
  border-radius: 1.5vw;
  padding: 3vw 20vw 3vw 20vw;
  margin-top: 5vh;
  border-color: #333e4f;
  color: white;
  font-family: 'Abril Fatface', cursive;
}

h1 {
  font-size: 10vw;
  font-family: 'Shrikhand', cursive;
  margin: 10vh auto 3vw auto;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 7vw;
  text-align: left;
}

#destination-extract {
  margin-left: 0;
  margin-right: 0;
}

p {
  font-size: 5vw;
  font-family: 'Slabo 27px', serif;
  text-align: left;
}

#tfl-results {
  margin: 2vh auto;
}

.minutes {
  text-align: center;
  margin-top: 7vw;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  color: rgb(247, 112, 36)
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

@media screen and (min-width: 768px) {
  form {
    font-size: 4vw;
  }
  container {
    max-width: 768px;
  }
  /*input[type="text"] {
    font-size: 3vw;
    padding: 1.5vw;
  }*/
  input[type="submit"] {
    font-size: 4vw;
    padding: 1.5vw 8vw;
  }
  h1 {
    /*font-size: 7vw;*/
    margin-top: 0 auto 3vw auto;
  }
  h2 {
    font-size: 6vw;
  }
  p {
    font-size: 3vw;
  }
}
