body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #333e4f;
}
.header {
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  font-size: 8vw;
}

label {
  display: flex;
  justify-content: center;
  font-family: 'Shrikhand', cursive;
}

input:focus {
background-color: #f0c062;
}

input[type="text"] {
  font-size: 5vw;
  border-radius: 1.5vw;
  padding: 2vw;
  margin: 1vw;
  font-family: 'Caveat', cursive;
}

input[type="submit"] {
  font-size: 6vw;
  background-color: #404e62;
  border-radius: 1.5vw;
  padding: 2vw;
  margin: 1vw;
  border-color: #333e4f;
  color: white;
  font-family: 'Abril Fatface', cursive;


  /*font-family: 'Shrikhand', cursive;*/
}

h1 {
  font-size: 15vw;
  font-family: 'Shrikhand', cursive;
}
h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 8vw;
  margin-left: 10vw;
}
p {
  font-size: 5vw;
  font-family: 'Slabo 27px', serif;
  margin: 10vw;
}

#linesHeader{
  font-family: 'Shrikhand', cursive;
  font-size: 6vw;
}

/*#lines {
  background: tomato;
  padding: 5px;
  margin: 8vw;
  text-align: center;
  border-radius: 1.5vw;
}*/
.animated {
animation-duration: 2.5s;
animation-fill-mode: both;
animation-iteration-count: infinite;
}
@keyframes pulse {
0% {transform: scale(1);}
50% {transform: scale(1.1);}
100% {transform: scale(1);}
}
.pulse {
animation-name: pulse;
animation-duration: 1s;
}
.grad {
  background: #d6f9ff; / Old browsers /
  background-color: -moz-linear-gradient(top, #d6f9ff 0%, #9ee8fa 100%); / FF3.6-15 /
  background-color: -webkit-linear-gradient(top, #d6f9ff 0%,#9ee8fa 100%); / Chrome10-25,Safari5.1-6 /
  background-color: linear-gradient(to bottom, #d6f9ff 0%,#9ee8fa 100%); / W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /
}
